* {
  margin: 0;
}

.app {
  background-color: gray;
}

.user-info {
  background-color: lightgray;
  display: flex;
  align-items: center;
  padding: 20px;
}
.posts-section {
  margin: auto;
  align-items: center;
  width: 40%;
}
